body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: grey;
}

.instagram-post {
    width: 420px;
    border: auto solid #ddd;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-options {
    font-size: 1.2rem;
    cursor: pointer;
    color: #666;
}

.post-image-placeholder img {
    width: 100%;
}

.post-actions {
    padding: 10px;
    display: flex;
    align-items: center;
}

.action-icons i {
    margin-right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

.bookmark {
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: auto;
}

.username {
    font-weight: bold;
}

.user-location {
    font-size: 0.9rem;
    color: #666;
}

.post-likes {
    padding: 10px;
    font-size: 0.9rem;
}

.post-caption {
    padding: 10px;
}

.post-caption p {
    margin: 0;
    font-size: 0.9rem;
    color: #333;
}
* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}